.textblock {
  /* Общие стили для текстового блока */
  margin: 0;
  padding: 0;
}

.textblock p {
  /* Стили для каждого параграфа в текстовом блоке */
  margin-bottom: 1em; /* Примерный интервал между параграфами */
}